/*CONTENEDOR DE IMAGE CARRUSEL - SIZE*/
#carouselExampleCaptions {
    width: 100%;
}

/*CONTENEDOR DEL LOGO*/
#logoJobsy {
    border-radius: 100%;
}

/*HOVER DEL LOGO*/
#logoJobsy:hover {
    scale: 1.1;
}

/*CONTENEDOR DE IMAGE AND TITLE DEL LOGO*/
#containerJobsy {
    display: flex;
}

/*CONTENEDOR DOWNLOAD*/
#downloand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    width: 70%;
    background-color: #ffffff;
    padding: 2rem 1rem;
}

#downloand img{
      max-width: 100%;
  height: auto;
  display: block;
}

#downloand > div {
  flex: 1 1 300px; 
  text-align: center;
}

/*CONTENEDOR DE LA SECCION GENERAL DE DOWNLOAD*/
#containerdownload {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*HOVER DEL CONTENEDOR DE VENTAJAS*/
#Ventajas div:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 32px #0ba2ff33;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 2;
}

/*HOVER DEL CONTENEDOR DEL BOTON DE LA IMAGEN PLAY STORE*/
#playstore:hover button {
    scale: 1.1;
    border-color: 10 solid white;
    color: white;
    background-color: black;
}

/*CONTENEDOR DEL NAVBAR PARA PONERLO FIJO*/
#navbarFix {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

/*HOVER DEL CONTENEDOR (CARD) DE FUNCIONALIDADES*/
.cardsFuncionalidades .card:hover {
    box-shadow: 0 8px 16px #4baeff;
}

/*CONTENEDOR DE LAS IMAGENES DE VENTAJA*/
.div_ventajas_images {
    display: flex;
    justify-content: center;
    gap: 3%;
    text-align: center;
}

/*CONTENEDOR DE LAS IMAGENES DE LA APP (LOGIN AND REGISTER)*/
.div_images_app_cont {
    display: flex;
    justify-content: center;
    margin: 5%;
}

/*CONTENEDOR GENERAL DE LA SECCION DE LA MEMBRESIA*/
.div_membresia_content {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-wrap: wrap;
}

/*CONTENEDOR DE LA SECCION DE LA MEMBRESIA - POR SEPARADO*/
.div_membresia_content div {
    width: 30%;
}

/*CONTENEDOR DEL VIDEO DE LA SECCION DE LA PRESENTACIÓN DEL VIDEO*/
.div_uso_app {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

/*CONTENEDOR DE IMAGEN DE LA SECCION DE DESCARGAS*/
#div_image_download {
    display: flex;
    justify-content: center;
    width: 150rem;
}

/*CONTENEDOR DE IMAGEN DE LA SECCION DE FUNCIONALIDADES*/
.contain_image_card {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

/*CONTENEDOR DE LA SECCION IMAGE DOWNLOAD*/
#button_cont_download {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    padding: 15px;
}

/*CONTENEDOR DE LA SECCION DEL BUTTON DE DOWNLOAD*/
.div_cont_button_download {
    display: flex;
    justify-content: center;
}