/*IMAGENES DEL CARRUSEL*/
.image_carrusel {
    height: 70vh;
    object-fit: cover;
}

/*IMAGES DE VENTAJAS*/
.ventajas_images {
    width: 18rem;
}

/*IMAGENES DE LA SECCION DEL TELEFONO (LOGIN AND REGISTER)*/
.images_phone_principal {
    width: 30%;
    height: auto;
}

/*IMAGE DE LA SECCION DE CARDS (FUNCIONALIDADES)*/
.image_card {
    width: 18rem;
}

/*IMAGE LOGO APP*/
#logo_jobsy {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

/*HOVER LOGO APP*/
#logo_jobsy:hover {
    scale: 1.1;
}

/*IMAGE VENTAJA*/
#Ventajas div img {
    width: auto;
    height: 15rem;
}

/*HOVER IMAGE APP (LOGIN AND REGISTER)*/
#containerImagesApp img:hover {
    scale: 1.1;
}

/*IMAGE DOWNLOAD PLAYSTORE BUTTON*/
#image_download_playstore {
    width: 40px;
    height: auto;
}

/*IMAGE DOWNLOAD PHONE (RIGHT)*/
#image_download {
    width: 100%;
    height: auto;
    border-radius: 10%;
    margin: 0 auto;
}