#carouselExampleCaptions {
    width: 100%;
    background-color: #41A2F3;
}

#logoJobsy {
    border-radius: 100%;
}

#logoJobsy:hover {
    scale: 1.1;
}

#titleJobsy {
    justify-content: center;
    text-align: center;
    align-items: center;
}

#containerJobsy {
    display: flex;
}

#imagenesCarrusel div img {
    margin: auto;
}

#frase {
    margin-top: 2%;
    color: #4D7AF3;
    font-size: 10vh;
    text-align: center;
}

#beneficiosTitles {
    margin-top: 2%;
    color: #4D7AF3;
    font-size: 10vh;
    text-align: center;
}


#titleDownload {
    margin-top: 2%;
    color: #ffffff;
    font-size: 10vh;
    text-align: center;
}

#subfrase {
    color: #5f86f3;
    font-size: 3vh;
    text-align: center;
}

#downloand {
    width: 70%;
    background-color: #6eb9f6;
    padding: 10%;
    display: flex;
}

#containerdownload {
    width: 100%;
    display: flex;
    justify-content: center;
}

#Ventajas div:hover {
    scale: 1.1;
}

#Ventajas div img{
    width: auto;
    height: 15rem;
}

#containerImagesApp img:hover {
    scale: 1.1;
}

#playstore:hover button{
    scale: 1.1;
    border-color: 10 solid white;
    color: white;
    background-color: black;
}


.videosGifsBeneficios{
    width: 30vh;
    height: 30vh
}

#navbarFix {
    position: fixed;
    top: 0;
    left: 0;        
    width: 100%;    
    z-index: 100;  
}

.cardsFuncionalidades .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px #4D7AF3;
}

.cardsFuncionalidades .card h5{
    text-align: center;
}


.cardsFuncionalidades .card p{
    text-align: justify;
}